.about-us{
	width: 1024px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	.h2-title{
    margin: 25px 0 30px;
	}
	&__first-text,
	&__last-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
	}
	&__last-text{
		margin-bottom: 40px;
	}
	img{
		width: 401px;
		height: 503px;
	}
	&__right{
		width: 457px;
	}
}