.block-15{
	.wrapper{
		width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.h2-title{
		padding-left: 125px;
		justify-content: flex-start;
		&::after{
			left: 0;
		}
	}
	&__item-wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item{
		margin-bottom: 40px;
	}
	&__item-left,
	&__item-right{
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__title{
		width: 540px;
		height: 80px;
		box-sizing: border-box;
		border-radius: 25px;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.07);
	  cursor: pointer;
		h3{
			font-size: 18px;
			color: #000;
	    text-transform: uppercase;
	    font-weight: 500;
		}
		i{
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 28px;
		}
	}
	&__content{
		display: block;
		width: 500px;
		max-height: 400px;
		box-sizing: border-box;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 50px;
		padding-right: 50px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		margin: 0 auto;
		background-color: #eee;
		border-radius: 5px;
		transition: all 400ms ease;
		overflow-y: hidden;
	}
	&__content--hidden{
		max-height: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		// font-size: 0;
		// padding: 0;
		// height: 0;		
		transition: all 400ms ease;
	}
}