.block-14{
	.wrapper{

	}
	h2.h2-title{
		padding-right: 125px;
		justify-content: flex-end;
		margin: 0;
		margin-top: 40px;
		margin-bottom: 40px;
		&::after{
			left: unset;
			right: 0;
		}
	}
	.galery__item{
		height: 350px;
	}
	.hover-item{
		justify-content: center !important;
	}
	em{
		display: block;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		color: #333;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 60px;
	}
	&__btn-wrapper{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button.block-14__btn{
    background-color: #22b14c;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    transition: all .3s ease;
    line-height: 25px;
    cursor: pointer;
	}
}