.block-12{
	.wrapper{
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		// flex-wrap: wrap;
	}
	.h2-title{
		margin: 0;
		justify-content: flex-start;
		padding-left: 125px;
		&::after{
			left: 0;
		}
	}
	&__item-wrapper{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item{
		width: 340px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p{
    	text-align: center;
    	font-size: 18px;
    	font-weight: 300;
    }
	}

}