.calculator{
	.wrapper{
		// box-sizing: content-box;
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
	.calculator
	&__btn{
		width: 425px;
		height: 60px;
		// margin-bottom: 60px;
    background: #116bfe;
		border: 1px solid transparent;
		font-weight: 500;
		font-size: 20px;
		// line-height: 45px;
		color: #fff;
		del{
			color: #ff0000;
		}
	}
	&__btn-wrapper{
		margin-top: 25px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper-container{

	}
	.swiper-wrapper{

	}
	&__title-wrapper{
		width: 100%;
		height: 180px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../image/calculator/2h-bg.png');
		background-position: center bottom;
		background-size: cover;
		box-sizing: border-box;
    margin-top: 50px;
    padding-bottom: 50px;
	}
	.calculator
	&__h2-title{
		color: #fff;
		margin: 0;
		span{
			color: #fea411;
		}
	}
	.swiper-slide{
		height: 360px;
		background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border: 2px solid #fea411;
    border-radius: 15px;
	}
	h2{
		text-transform: uppercase;
	}
	h3{
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
	}
	&__image-wrapper{
    position: relative;
    width: 295px;
    height: 250px;	
    margin: 0 auto;
		img{
			width: 90%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			// object-fit: cover;
		}
	}
	&__radio{
		text-align: center;
		position: relative;
		input{

		}
		label{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			&::after{
		    content: '';
		    display: block;
		    top: 95%;
		    width: 25px;
		    height: 25px;
		    border: 2px solid #000101;
		    background-color: #f9f6f3;
		    cursor: pointer;
		    border-radius: 5px;	
			}
		}
		input[type="radio"]:checked + label::after{
		  background-image: url('../image/ok.png');
		  background-position: center center;
		  -webkit-background-size: cover;
		  background-size: cover;
		} 		
	}
	.calulator__last-item-wrapper{
		margin: 0 auto;
		width: 350px;
		height: 115px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__last-item{
		width: 160px;
		background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border: 2px solid #fea411;
    border-radius: 15px;
    position: relative;
    label{
    	// position: absolute;
    	// bottom: 10px;
    }
    .calculator__radio{
			margin: 0;
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
    }
	}
	&__sum-wrapper{
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.sum-btn{
		height: 100%;
		width: 180px;
		font-size: 20px;
		font-weight: 500;
	}
	.counter{
		color: #fff;
		del{
			color: #ff0000;
		}
		span{
			color: #22b14c;
		}
		height: 100%;
		width: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(254, 164, 17, 0.4);
    font-weight: 500;
    font-size: 32px;
    // padding: 11px 30px 11px 60px;
    margin-left: -10px;
    border-radius: 7px;		
	}
	&__timer{
		text-align: center;
		span{
	    color: #fea411;
		}
	}
}


.calculator-item-wrapper{
	cursor: pointer;
  transition: transform .3s ease;	
}

.calculator-item{
	position: absolute;
	left: 0;
	right: 0;
	top: -320px;
	width: 100%;
	height: 360px;
	opacity: 0;
	cursor: pointer;
}

.calculator-block1,
.calculator-block2,
.calculator-block3,
.calculator-block4,
.calculator-block5{
	box-sizing: border-box;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.calculator-item-wrapper--active{
  // border: 2px solid #22b14c!important;
  border: 2px solid red !important;
  transform: scale(1.1)!important;
}

.calculator__last-item{
	height: 100px;
	position: relative;
}

.calculator h2{
	margin: 20px;
}

.calculator__last-item .calculator__radio{
	bottom: 20px;
	width: 100%;
}

.calculator__last-item 
.calculator-item{
	height: 100px;
	top: -80px;
}