body{
	overflow-x: hidden;
	width: 100%;
	font-family: 'Roboto', 'Arial', sans-serif;
  color: #121212;
}

body,html{
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
	pointer-events: none; 
}


table{
	display: table;
	border-spacing: 2px;
	border-color: gray;
	border: 1px solid #000;
}

.d-none{
	display: none !important;
}

.mt-60{
	margin-top: -60px;
}

.hr{
	border-top: 1px solid #ededed;
}

.bg-color-fff{
	background-color: #fff !important;
}
.bg-color-gray{
	background-color: #f5f5f5 !important;
}

.img-fix{
	width: 100%;
	// height: 100%;
}

.img-fix-v{
	height: 100%;
	width: 100%;
}

.wrapper{
	width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.contacts{
	width: 285px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a{
		height: 36px;
		color: #121212;
		text-decoration: none;
		font-weight: 300;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 300ms ease;
		i{
			font-size: 12px;
			display: block;
			margin-right: 7px;
		}
	}
	a:last-child{
		margin-left: 10px;
		font-size: 16px;
		font-weight: 500;
		border: 1px solid #fff;
		color: #fff;
		background-color: red;
		box-sizing: border-box;
		padding: 5px;	
		position: relative;
		// border: 1px solid #333;
		cursor: pointer;
		// span{
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 50%;
		// 	transform: translate(-50%, -50%);
		// 	display: block;
		// 	width: 90%;
		// 	height: 90%;
		// 	// background-color: grey;
		// 	border: 1px dashed white;

		// }	
	}	
	a:hover{
		transition: all 300ms ease;
		color: red;	
	}
	a:last-child:hover{
		transition: all 300ms ease;
	  background-color: #e40000;	
	  color: white;
	}
}

.soc{
	width: 44px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a{
		color: inherit;
		transition: all 300ms ease;
	}
	a:hover{
		transition: all 300ms ease;
		color: red;
	}
}

.main-nav{
	width: 100%;
	height: 115px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-menu{
	width: 570px;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-content: center;
	&__item{
		a{
			font-size: 16px;
			font-weight: 400;
			color: #121212;
			text-decoration: none;
			display: block;
			box-sizing: border-box;
			padding-top: 4px;
			padding-bottom: 4px;
	    transition: all 300ms ease;
	    border-bottom: 1px solid #fff;
		}
		a:hover{
	    transition: all 300ms ease;
	    color: red;
	    // border-bottom: 1px solid transparent;
	    border-bottom: 1px solid red;
		}
	}
	&__item--activ a{
    color: red;
    border-bottom: unset;
	}
	&__item--activ a:hover{
		cursor: default;
    color: red;
    border-bottom: unset;
	}
}

.main-title{
	width: 100%;
	color: #121212;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.bold-text{
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	color: #121212;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}



.h2-title{
	font-size: 44px;
	line-height: 48px;
	font-weight: 700;
  color: #121212;
}

.h3-title{
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.h4-title{
  font-size: 22px;
	font-weight: 700;
	color: #000;
	margin: 0;
	padding: 0;
}

.text-for-title{
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.btn-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.btn{
	// border: none;
	// outline: none;
	// width: 175px;
	// height: 44px;
	// display: block;
 //  border: 1px solid red;
 //  color: #121212;
 //  background-color: #fff;
 //  text-transform: uppercase;
 //  text-decoration: none;
 //  font-weight: 300;
 //  display: flex;
 //  align-items: center;
 //  justify-content: center;
	// transition: all 300ms ease;
	border: none !important;
	outline: none;
	width: 175px;
	height: 44px;
	display: block;
  color: #121212 !important;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
	transition: all 300ms ease;
	position: relative;
	background-color: unset !important;
	&::after{
		content: '';
		transition: top 300ms ease;
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background-color: red;
	}
	&::before{
		content: '';
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #121212;
		opacity: 1;
		background-color: red;
	}	
}

.btn:hover{
	// transition: all 300ms ease;
 //  background: rgba(18,18,18,.4);
 //  color: #121212;
 //  border: 1px solid red;
   &::after{
  	transition: top 300ms ease;
  	top: 100%;
  	// background-color: red;
  }
  &::before{
  	// background-color: red;
  }
}


.btn--v2{
	border: none;
	outline: none;
	width: 175px;
	height: 44px;
	display: block;
  color: #121212;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
	transition: all 300ms ease;
	position: relative;
	&::after{
		content: '';
		transition: top 300ms ease;
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background-color: red;
	}
	&::before{
		content: '';
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #121212;
		opacity: 1;
		background-color: red;
	}	
}

.btn--v2:hover{
  &::after{
  	transition: top 300ms ease;
  	top: 100%;
  	// background-color: red;
  }
  &::before{
  	// background-color: red;
  }
}


// боковое меню сайта
.arrow-up{
	z-index: 12;
	position: fixed;
	right: 38px;
	bottom: 30px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(18,18,18,.4);
  background-color: #fff;
  cursor: pointer;
  transition: all 200ms ease;
}

.message-form-btn{
	z-index: 12;
	position: fixed;
	right: 30px;
	bottom: 125px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(18,18,18,.4);
  background-color: #fff;
  cursor: pointer;
  transition: all 200ms ease;	
  box-sizing: border-box;
  border: 1px solid #fe0600; 
   box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 2px 14px rgba(0, 0, 0, 0.19);
  background-color: rgb(254, 6, 0);
  i{
  	color: #fff;
  	font-size: 26px;
  }
}

.phone-form-btn{
	z-index: 12;
	position: fixed;
	right: 30px;
	bottom: 70px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(18,18,18,.4);
  background-color: #fff;
  cursor: pointer;
  transition: all 200ms ease;	
  box-sizing: border-box;
  border: 1px solid #fe0600; 
   box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 2px 14px rgba(0, 0, 0, 0.19);
  background-color: rgb(254, 6, 0);
  i{
  	color: #fff;  	
  	font-size: 26px;
  }
}

.message-form-btn:hover,
.phone-form-btn:hover{
	transition: all 400ms ease;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.6);
  transform: scale(1.1);
}

.phone-form-wrapper{
	.phone-form{
		width: 100%;
		opacity: 0;
		// opacity: 1;
		transition: all 250ms ease;
	}
	.phone-form-input--active{
		transition: all 300ms ease;
		box-shadow: 0 0 7px #ff1744;
	}
	position: fixed;
	background-color: #fff;
	bottom: 80px;
	right: 30px;
	width: 320px;
  height: 460px;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  width: 0;
  height: 0;
  i.fa-times-circle{
  	position: absolute;
  	right: 0px;
  	top: -25px;
  	font-size: 22px;
  	cursor: pointer;
  } 
  p{
  	border-top-left-radius: 6px;
  	border-top-right-radius: 6px;
  	margin: 0;
  	height: 60px;
    background: #fb0b05;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    i{
    	margin-left: 15px;
    	margin-right: 15px;
    	color: #fff;
    	font-size: 30px;
    }
    span{
	    font-size: 19px;
	    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	    color: #fff;
	    font-weight: 400;
    }
  }
  form{
  	margin-top: 15px;
  	box-sizing: border-box;
    padding: 0 40px 0;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	input{
  		width: 100%;
  		box-sizing: border-box;
	    padding: 9px 12px 3px;
	    font-size: 14.5px;
	    min-height: 22px;
	    height: 30px;
	    border: none;
	    outline: none;
	    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), inset 1px 1px 2px rgba(0, 0, 0, 0.15);
	    border-radius: 5px;
	    border: 1px solid darkgrey;  
  	}
  	.button{
  		margin-top: 5px;
  		margin-bottom: 5px;
  		background-color: unset;
  		border: none;
  		outline: none;
  		text-decoration: underline;
  		font-size: 12px;
  		color: #333;
  		cursor: pointer;
  	}
  	.submit{
  		margin-top: 15px;
  		outline: none;
  		border: none;
  		width: 100%;
	    height: 36px;
	    border-radius: 18px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    cursor: pointer;
	    color: white;
	    background: #fb0b05;
	    font-size: 17px;
	    display: flex;
	    align-items: center;
	    justify-content: center;   		
  	}
  }
  .phone-form__call-wrapper{
  	width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .phone-form__call-day{
  	width: 140px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #fafafa;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    height: 35px;
    box-sizing: border-box;
    padding: 9px 12px 3px;    
    font-size: 14px;
		color: #9e9e9e;    
    i{
    	position: absolute;
			color: #9e9e9e;    	
    	top: 50%;
    	right: 5px;
    	transform: translateY(-75%);
    	font-size: 18px;
    }
  }
	.phone-form__call-day-btn{
		box-sizing: border-box;
		padding: 20px;
		position: absolute;
		right: 0;
		top: 0;
		// height: 25px;
		cursor: pointer;
	}

  .phone-form__call-day-list{
  	position: absolute;
  	background-color: #fff;
  	width: 140px;
  	padding: 0;
  	margin: 0;
  	left: 0;
  	top: 0;
  	list-style: none;
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), inset 1px 1px 2px rgba(0, 0, 0, 0.15);
		box-sizing: border-box;
		padding: 1px;
  	li{
	    padding: 9px 12px 3px;
	    font-size: 14.5px;
	    height: 22px;
	    cursor: pointer;
      color: #424242;
	  }
	  li:nth-child(1){
	    background: #bbdefb;
	  }
	  li:nth-child(1):hover{
	    background: #bbdefb;
	  }	  
	  li:last-child{

	  }
	  li:hover{
	    background: #fafafa;;
	  }
  }
  .phone-form__call-hour{
  	width: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #fafafa;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    height: 35px;
    box-sizing: border-box;
    padding: 9px 12px 3px;    
    font-size: 14px;
		color: #9e9e9e;
    i{
    	position: absolute;
    	cursor: pointer;
			color: #9e9e9e;    	
    	top: 50%;
    	right: 5px;
    	transform: translateY(-70%);
    	font-size: 18px;
    }
  } 
  .phone-form__call-hours-list{
  	position: absolute;
  	background-color: #fff;
  	width: 80px;
  	height: 140px;
  	overflow-y: scroll;
  	padding: 0;
  	margin: 0;
  	left: 0;
  	top: 0;
  	list-style: none;
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), inset 1px 1px 2px rgba(0, 0, 0, 0.15);
		box-sizing: border-box;
		padding: 1px;
  	li{
	    padding: 9px 12px 3px;
	    font-size: 14.5px;
	    height: 22px;
	    cursor: pointer;
      color: #424242;
	  }
	  li:nth-child(1){
	    background: #bbdefb;
	  }
	  li:nth-child(1):hover{
	    background: #bbdefb;
	  }	  
	  li:last-child{

	  }
	  li:hover{
	    background: #fafafa;;
	  }
  }  
}
.message-form-wrapper{
	.phone-form{
		width: 100%;
		opacity: 0;
		transition: all 600ms ease-in;
	}
	position: fixed;
	background-color: #fff;
	bottom: 80px;
	right: 30px;
	width: 320px;
  height: 460px;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  width: 0;
  height: 0;
  i.fa-times-circle{
  	position: absolute;
  	right: 0px;
  	top: -25px;
  	font-size: 22px;
  	cursor: pointer;
  } 
  p{
  	border-top-left-radius: 6px;
  	border-top-right-radius: 6px;
  	margin: 0;
  	height: 60px;
    background: #fb0b05;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    i{
    	margin-left: 15px;
    	margin-right: 15px;
    	color: #fff;
    	font-size: 30px;
    }
    span{
	    font-size: 19px;
	    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	    color: #fff;
	    font-weight: 400;
    }
  }
  form{
  	margin-top: 15px;
  	box-sizing: border-box;
    padding: 0 40px 0;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	input{
  		width: 100%;
  		box-sizing: border-box;
	    padding: 9px 12px 3px;
	    font-size: 14.5px;
	    min-height: 22px;
	    margin-bottom: 15px;
	    border: 1px solid darkgrey;
  	}
  	textarea{
  		width: 100%;
  		height: 70px;
  		box-sizing: border-box;
	    padding: 5px;
	    font-size: 14.5px;
	    min-height: 22px;
	    margin-bottom: 15px;
	    resize: none;
	    overflow-x: hidden;
	    border: 1px solid darkgrey;	   
  	}
  	.submit{
  		margin-top: 15px;
  		outline: none;
  		border: none;
  		width: 100%;
	    height: 36px;
	    border-radius: 18px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    cursor: pointer;
	    color: white;
	    background: #fb0b05;
	    font-size: 17px;
	    display: flex;
	    align-items: center;
	    justify-content: center;   		
  	}
  }
}

.message-form-input--active{
	transition: all 300ms ease;
	// box-shadow: 0 0 7px #ff1744;
	border-color: #ff1744 !important;
}	

.ride-side-form-complite{
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	b{
		font-size: 18px;
		font-weight: 700;
	}
	&__icon-wrapper{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		img{
			width: 96px;
			height: 96px;
		}
	}
}
.ride-side-form-complite-message{
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	b{
		font-size: 18px;
		font-weight: 700;
	}
	&__icon-wrapper{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		img{
			width: 96px;
			height: 96px;
		}
	}	
}






.arrow-up:hover{
	transition: all 200ms ease;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.6);
  transform: scale(1.1);
}

.hover-image{
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	// transition: all 400ms ease;
	transition: background .4s ease-in-out,color .4s ease-in-out;
	background-color: rgba(0,0,0,0.0);
	z-index: 1;
	opacity: 0;
	&__icon{
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 999;
	}
	span{
		display: block;
		width: 100%;
		height: 40px;
		background-color: #1a1a1a;
		color: #fff;
		position: absolute;
		left: 0;
		bottom: -40px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: bottom .2s ease-in-out,color .2s ease-in-out;
	}
}

.hover-image:hover{
	transition: background .4s ease-in-out,color .4s ease-in-out;
	background-color: rgba(0,0,0,0.3);
	opacity: 1;
	span{
		bottom: 0;
		transition: bottom .2s ease-in-out,color .2s ease-in-out;
	}
}

.map-wrapper{
	width: 100%;
}

.btn--revievs{
	width: 280px;
	height: 52px;
	margin-top: 50px;
	cursor: pointer;
	font-size: 18px;
}

table { 
    border-collapse: collapse; 
}
tr{
	border-bottom: 1px solid #000;
}

.scroll-menu .main-menu__item--activ{
	border-bottom: none;
}

object{
	width: 100%;
	height: 250px;
}

// fix image

.item-image{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.portfolio-block .portfolio-block__image-wrapper img,
.slider .slider-wrapper .slider__item img,
.our-work__item img{
  position: relative;
  left: 50%;
  top: 50%;	
	object-fit: cover;
	max-width: 100% !important;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) !important;
}

//картинки на главной
// .our-work__item:nth-child(1)
// .item-image{
//   background-image: url('../../img/gallery/index-page/1.jpg');
// }
// .our-work__item:nth-child(2)
// .item-image{
//   background-image: url('../../img/gallery/index-page/2.jpg');
// }
// .our-work__item:nth-child(3)
// .item-image{
//   background-image: url('../../img/gallery/index-page/3.jpg');
// }
// .our-work__item:nth-child(4)
// .item-image{
//   background-image: url('../../img/gallery/index-page/4.jpg');
// }
// .our-work__item:nth-child(5)
// .item-image{
//   background-image: url('../../img/gallery/index-page/5.jpg');
// }
// .our-work__item:nth-child(6)
// .item-image{
//   background-image: url('../../img/gallery/index-page/6.jpg');
// }
// .our-work__item:nth-child(7)
// .item-image{
//   background-image: url('../../img/gallery/index-page/7.jpg');
// }
// .our-work__item:nth-child(8)
// .item-image{
//   background-image: url('../../img/gallery/index-page/8.jpg');
// }
// .our-work__item img{
// 	position: static;
// 	left: unset;
// 	top: unset;
// 	transform: unset;
// 	max-width: unset;
// 	width: 100%;
// 	height: 100%;
// 	object-fit: cover;
// 	// display: none;
//  //  width: auto;
//  //  height: auto;
// }


// картинки на стр услуги в слайдере
// .slider img{
// 	display: none;
// }

// .slider-1
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-1.jpg');
// }
// .slider-1
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-1.1.jpg');
// }

// .slider-2
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-2.jpg');
// }

// .slider-2
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-2.1.jpg');
// }

// .slider-3
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-3.jpg');
// }

// .slider-3
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-3.1.jpg');
// }

// .slider-4
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-4.2.jpg');
// }

// .slider-4
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-4.jpg');
// }

// .slider-4
// .slider__item:nth-child(3)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-4.1.jpg');
// }

// .slider-5
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-5.jpg');
// }

// .slider-5
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-5.1.jpg');
// }

// .slider-5
// .slider__item:nth-child(3)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-5.2.jpg');
// }

// .slider-6
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-6.jpg');
// }

// .slider-6
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-6.1.jpg');
// }

// .slider-7
// .slider__item:nth-child(1)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-7.jpg');
// }

// .slider-7
// .slider__item:nth-child(2)
// .item-image{
// 	background-image: url('../img/servisec-page/slider-image-7.1.jpg');
// }


// // картинки в портфолио
// // картинки блок 1
// .gallery__item--fabrics:nth-child(1)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/1.jpg');
// }
// .gallery__item--fabrics:nth-child(2)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/2.jpg');
// }
// .gallery__item--fabrics:nth-child(3)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/3.jpg');
// }
// .gallery__item--fabrics:nth-child(4)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/4.jpg');
// }
// .gallery__item--fabrics:nth-child(5)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/5.jpg');
// }
// .gallery__item--fabrics:nth-child(6)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/6.jpg');
// }
// .gallery__item--fabrics:nth-child(7)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/7.jpg');
// }
// .gallery__item--fabrics:nth-child(8)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/8.jpg');
// }
// .gallery__item--fabrics:nth-child(9)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/9.jpg');
// }
// .gallery__item--fabrics:nth-child(10)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fabrics/10.jpg');
// }


// // картинки блок 2
// .gallery__item--jackets:nth-child(1)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/1.jpg');
// }
// .gallery__item--jackets:nth-child(2)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/2.jpg');
// }
// .gallery__item--jackets:nth-child(3)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/3.jpg');
// }
// .gallery__item--jackets:nth-child(4)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/4.jpg');
// }
// .gallery__item--jackets:nth-child(5)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/5.jpg');
// }
// .gallery__item--jackets:nth-child(6)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/6.jpg');
// }
// .gallery__item--jackets:nth-child(7)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/7.jpg');
// }
// .gallery__item--jackets:nth-child(8)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/8.jpg');
// }
// .gallery__item--jackets:nth-child(9)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/9.jpg');
// }
// .gallery__item--jackets:nth-child(10)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/10.jpg');
// }
// .gallery__item--jackets:nth-child(11)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/11.jpg');
// }
// .gallery__item--jackets:nth-child(12)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/12.jpg');
// }
// .gallery__item--jackets:nth-child(13)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/13.jpg');
// }
// .gallery__item--jackets:nth-child(14)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/14.jpg');
// }
// .gallery__item--jackets:nth-child(15)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/15.jpg');
// }
// .gallery__item--jackets:nth-child(16)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeckets/16.jpg');
// }

// // картинки блок 3
// .gallery__item--jeans:nth-child(1)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/1.jpg');
// }
// .gallery__item--jeans:nth-child(2)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/2.jpg');
// }
// .gallery__item--jeans:nth-child(3)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/3.jpg');
// }
// .gallery__item--jeans:nth-child(4)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/4.jpg');
// }
// .gallery__item--jeans:nth-child(5)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/5.jpg');
// }
// .gallery__item--jeans:nth-child(6)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/6.jpg');
// }
// .gallery__item--jeans:nth-child(7)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/7.jpg');
// }
// .gallery__item--jeans:nth-child(8)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/8.jpg');
// }
// .gallery__item--jeans:nth-child(9)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/9.jpg');
// }
// .gallery__item--jeans:nth-child(10)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/jeans/10.jpg');
// }

// // картинки блок 4
// .gallery__item--leather:nth-child(1)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/1.jpg');
// }
// .gallery__item--leather:nth-child(2)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/2.jpg');
// }
// .gallery__item--leather:nth-child(3)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/3.jpg');
// }
// .gallery__item--leather:nth-child(4)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/4.jpg');
// }
// .gallery__item--leather:nth-child(5)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/5.jpg');
// }
// .gallery__item--leather:nth-child(6)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/6.jpg');
// }
// .gallery__item--leather:nth-child(7)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/7.jpg');
// }
// .gallery__item--leather:nth-child(8)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/8.jpg');
// }
// .gallery__item--leather:nth-child(9)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/9.jpg');
// }
// .gallery__item--leather:nth-child(10)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/10.jpg');
// }
// .gallery__item--leather:nth-child(11)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/11.jpg');
// }
// .gallery__item--leather:nth-child(12)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/12.jpg');
// }
// .gallery__item--leather:nth-child(13)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/13.jpg');
// }
// .gallery__item--leather:nth-child(14)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/leather/14.jpg');
// }

// // картинки блок 5
// .gallery__item--fur:nth-child(1)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/1.jpg');
// }
// .gallery__item--fur:nth-child(2)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/2.jpg');
// }
// .gallery__item--fur:nth-child(3)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/3.jpg');
// }
// .gallery__item--fur:nth-child(4)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/4.jpg');
// }
// .gallery__item--fur:nth-child(5)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/5.jpg');
// }
// .gallery__item--fur:nth-child(6)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/6.jpg');
// }
// .gallery__item--fur:nth-child(7)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/7.jpg');
// }
// .gallery__item--fur:nth-child(8)
// .item-image{
// 	background-image: url('../img/gallery/portfolio/fur/8.jpg');
// }

.slider__text-block p{
	font-weight: 400 !important;
	color: #000 !important;
}

.new-block-price{
	.btn{
		margin-top: 40px;
		width: 250px;
	}
}

.list__text a{
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	color: #1a1a1a;
	font-size: 14px;
	font-weight: 400;
}

object{
	position: relative;
	z-index: 10;
}

.uslugi{
	.divisions__left{
		width: 100%;
	}
	.divisions__item{
		width: 100%;
	}
	.divisions__item .list__title{
		display: block;
		width: 100%;
	}
	.divisions__btn-wrapper{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__btn{
		width: 300px !important;
	}
}