.popup-bg{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

.popup-form{
	// transition: all 400ms ease;

  width: 320px;
  min-height: 100px;	
	position: fixed;
	z-index: 12;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h2{
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    font-weight: 500;
    color: #fea411;    
  }
  i{
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    color: #fea411;
    font-size: 26px;
    cursor: pointer;
  }
  form{
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-items: center;
  	label{
  		width: 100%;
  		text-align: center;
  		margin-top: 10px;
  		margin-bottom: 10px;
  	}
  	input{
	    width: 100%;
	    border: none;
	    outline: 0;
	    height: 35px;
	    border: 2px solid #fea411;
	    border-radius: 7px;
	    margin-left: 10%;
	    margin-right: 10%;
	    margin-bottom: 20px;
      box-sizing: border-box;
		  padding-left: 15px;
	    margin-top: 20px;
  	}
  	button{
  		margin-bottom: 25px;
  		text-transform: uppercase;
  		font-size: 18px;
  		font-weight: 500;
  	}
  }
}

// галерея
.popup-galery-card{
	.popup-exit__galery{
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 28px;
		color: #fea411;
		cursor: pointer;
		transition: all 300ms ease;
	}
	.popup-exit__galery:hover{
		color: #116bfe;
		transition: all 300ms ease;
	}	
	position: fixed;
	// overflow-y: scroll;
	// overflow-x: hidden;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 1000px;
	max-height: 800px;
	border-radius: 20px;
	z-index: 12;
	border: 2px solid #fea411;
	.galery-card__calc-btn{
		transition: all 300ms ease;
	}
	.galery-card__calc-btn:hover,
	.galery-card__form-btn:hover{
		background-color: #116bfe;
		transition: all 300ms ease;
	}	
	.galery-card__form-btn{
    background-color: #22b14c;	
		transition: all 300ms ease;
	}
	.wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		// align-items: center;
		flex-wrap: wrap;
		padding: 25px;
	}
	.btn{
		width: 220px;
		cursor: pointer;
	}	
	h3{
    font-size: 32px;
	  margin-bottom: 10px;
    color: #fea411;
    text-transform: uppercase;	  
    font-weight: 700;
	}	
	h4{
    font-size: 28px;
	  margin-bottom: 10px;
    color: #fea411;
    text-transform: uppercase;	  
    font-weight: 500;
	}	
	p{
		font-size: 18px;
		font-weight: 400;
	}	
	.galery-card{
		&__price{
			span{

			}
		}
		&__image{

		}
		&__left-content{
			width: 49%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			img{
				width: 465px;
				height: 350px;
			}
		}
		&__right-content{
			width: 49%;
			height: 100%;
		}
		h4{

		}
		&__type{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
		&__type-item{
			box-sizing: border-box;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			// width: 90px;
			// height: 90px;			
			position: relative;
			width: 110px;
			height: 110px;
			img{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 75px;
				height: 75px;
				transition: all 300ms ease;
			}
		}
		&__type-item:hover{
			img{
				transition: all 300ms ease;
				transform: translate(-50%, -50%) scale(1.3);
			}
		}
	}
}