.portfolio{
	.wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	h3{
	  font-size: 38px;
    margin-bottom: 20px;
    font-weight: 500;
	}
	.portfolio__item-wrapper{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.portfolio__item{
		position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid #fea411;
    // border-radius: 5px;
    margin-bottom: 50px;
    position: relative;
    width: 320px;
    height: 450px;
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
		}
		p{
			position: absolute;
			bottom: -45px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			margin: 0;
			font-weight: 500;
			font-size: 16px;
			span{
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
}

.new-swiper-container{
	overflow: hidden;
}
.portfolio .portfolio__item{
	cursor: pointer;
}
.portfolio .portfolio__item img{
	height: 90%;
	top: 0;
	transform: translateX(-50%);
}
.portfolio .portfolio__item p{
	bottom: 3px;
	width: 100%;	
}