.str-figure{
	.uslugi-paralax-title .paralax__content{
		width: 925px;
		height: 235px;
	}
	.uslugi &__main-title{
		margin-top: 30px !important;
		margin-bottom: 10px !important;
	}
	&__price-paralax h6 {
    width: 750px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 5px 0 20px;
    padding: 5px 0 5px 32px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    &::before{
    	display: none;
    }
	}
	&__paralax{
    background-color: #f2f2f2 !important;
    min-height: unset !important;
		h3{
	    font-size: 30px;
	    line-height: 36px;
	    margin: 0 auto;
	    text-align: center;
		}
	}
	.table-block{
    background-color: #f2f2f2;
	}
	.table-block::after{
    background-color: rgba(255,255,255,.6);
	}
	.how-to-take{
		.wrapper{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			box-sizing: border-box;
			padding-bottom: 50px;
		}
		h2{
			width: 100%;
	    font-size: 30px;
	    line-height: 36px;			
	    text-align: center;
	    margin-top: 15px;
	    margin-bottom: 15px;
		}
		h3{
	    font-size: 22px;
	    line-height: normal;
	    text-align: center;
	    color: rgb(69, 69, 69);
	    margin-bottom: 30px;
		}
		&__block{
			width: 360px;
			margin-right: 10px;
			margin-bottom: 10px;
			p{
				width: 300px;
				margin: 0 auto;
				text-align: center;
		    color: rgb(69, 69, 69);
		    font-weight: bold;
				margin-top: 20px;
				span{
					font-size: 14px;
				}
				span:nth-child(2){
					display: block;
					width: 100%;
					margin-top: 25px;
				}
			}
			img{
				width: 360px;
				height: 240px;
			}
		}
		// &__block--4,
		// &__block--5{
		// 	margin-top: 40px;
		// 	margin-bottom: 60px;
		// 	width: 555px;
		// 	img{
		// 		width: 555px;
		// 		height: 360px;
		// 	}
		// }
	}
	&__our-work{
		margin-top: 0px;
		padding-top: 50px;
		.wrapper{
			align-items: flex-start !important;
		}
		.uslugi-gallery-text{
			width: 457px;
		}
		span{
			text-align: center;
		}
		u{
			display: block;
			width: 100%;
			text-align: center;
	    font-size: 16px;
	    line-height: 24px;
	    font-weight: 300;			
		}
	}
	&__list{
		padding-left: 20px;
		li{
	    font-size: 16px;
	    line-height: 24px;
	    font-weight: 300;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    padding-left: 13px;
		}
	}
	.uslugi-gallery .wrapper h2{
		margin-bottom: 80px;
	}
	.uslugi-gallery-text h3{
		text-align: center;
	}
	.uslugi-gallery--6{
		background-color: #fff;
	}
	.slider-block{
    background-color: #f2f2f2;
	}
	.btn--revievs{
		margin-top: 25px;
		font-weight: 400;
	}
	.divisions__left{
		width: 100%;
	}
	.divisions__item{
		width: 100%;
	}
	.divisions__item .list__title{
		display: block;
		width: 100%;
	}
	.divisions__btn-wrapper{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__btn{
		width: 300px !important;
	}
	p.uslugi-title__text{
		font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }
  .how-to-take__block{
    border: 1px solid #fff!important;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,2,.05);
    -moz-box-shadow: 0 10px 10px rgba(0,0,2,.05);
    box-shadow: 0 10px 10px rgba(0,0,2,.05);
    box-sizing: border-box;
    padding: 10px;
  }
}

// ушить платье
.str-figure-dress{
	.uslugi-paralax-title{
		background-image: url('../img/figure-page/dress/title-bg.jpg');
	}
}

// ушить платье
.str-figure-skirt{
	.uslugi-paralax-title{
		background-image: url('../img/figure-page/skirt/title-bg.jpg');
	}
	.uslugi-equipment{
		background-color: #f2f2f2;
	}
}

// ушить блуску
.str-figure-blouse{
	.uslugi-paralax-title{
		background-image: url('../img/figure-page/blouse/title-bg.jpg');
	}
}

// ушить брюки
.str-figure-pants{
	.uslugi-paralax-title{
		background-image: url('../img/figure-page/pants/title-bg.jpg');
	}
	.uslugi-equipment{
		background-color: #f2f2f2;
	}	
}

// Замена подкладки
.str-figure-replacing{
	.uslugi-paralax-title{
		background-image: url('../img/figure-page/replacing/title-bg.jpg');
	}
}

// Подгонка одежды по фигуре
.str-figure-change-clothes{
	.uslugi-paralax-title{
		background-image: url('../img/figure-page/clothes/title-bg.jpg');
	}
	.new-block-wrapper{
		display: flex;
		justify-content: center !important;
		align-items: center;
		button{
			width: 240px;
			height: 40px;
			background-color: #ff0202;
	    border: 1px solid #f00;
	    color: #fff;
	    border-radius: 3px;
	    font-size: 16px;
	    line-height: 18px;
	    text-transform: uppercase;
	    margin-left: 3%;
	    margin-bottom: 20px;
	    cursor: pointer;
			transition: all 300ms ease;
		}
		button:hover{
			transition: all 300ms ease;
	    background: #353535;
	    border-color: #353535;
		}
	}
	.uslugi-paralax .new-block{
		margin: 0;
		text-align: center;
		width: 75%;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #121212;
    text-decoration-color: #121212;    
	}
	.uslugi-title-list-link{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li{
			text-align: center;
			box-sizing: border-box;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-left: 40px;
			padding-right: 40px;
	    // background: rgba(18,18,18,.4);
	    color: #121212;
	    border: 1px solid rgba(18,18,18,.4);
	    margin-bottom: 35px;
			transition: all 300ms ease;
			cursor: pointer;
			a{
				text-transform: uppercase;
				text-decoration: none;
		    color: #121212;
		    font-weight: 300;

			}
		}
		li:hover{
			transition: all 300ms ease;
	    background: rgba(18,18,18,.4);
		}
	}
}

