.header{
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	padding-top: 20vh;
	.wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}
	.main-nav{
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15vh;
		position: fixed;
		left: 0;
		// left: 50%;
		// transform: translateX(-50%);
		top: 0;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		transition: all 300ms ease;
		z-index: 11;
	}
	.main-menu{
		width: 800px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.main-menu__item{
		a{
			font-size: 18px;
			font-weight: 400;
			color: #fff;
		}
	}
	.h1-title{
		display: block;
		width: 100%;
		text-align: center;
		color: #fff;
		position: relative;
		margin-bottom: 10vh;
		&::after{
			content: '';
			display: block;
			width: 100px;
			height: 2px;
			position: absolute;
			left: 50%;
			bottom: -25px;
			transform: translateX(-50%);
			background-color: #fea411;
		}
	}
	.h2-title{
		display: block;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 24px;
		margin: 0;
		margin-bottom: 20vh;
		font-weight: 500;
		span{
			color: #fea411;
		}
	}
	.header__btn{
		
	}
	.header__arrow-down{

	}
	.contacts{
		width: 200px;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		margin: 0;
		text-align: right;
		span{
			display: block;
			width: 100%;
			font-weight: 400;
			color: #fff;
			padding: 0;
			margin: 0;
		}
		span:nth-child(1){
			font-size: 16px;
			text-transform: uppercase;
		}
		span:nth-child(3){
			font-size: 14px;
			opacity: 0.6;
		}
		a{
			display: block;
			padding: 0;
			margin: 0;
			width: 100%;
			font-size: 16px;
			color: #fea411;
		}
	}
	.header__arrow-down{
		position: absolute;
		left: 50%;
		bottom: 10px;
		transform: translateX(-50%);
		color: #fff;
		cursor: pointer;
	}
}

.mobile{
	&-nav{
		box-shadow: rgba(0,0,0,.5) 0 0 10px;		
		position: absolute;
		width: 100%;
		height: 60px;
		left: 0;
		top: 0;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		z-index: 10;
		i:hover{
			color: #fea411;
			transition: all 200ms ease;
		}
	}
	&-logo{
		width: 100px;
		height: 60px;
	}
	&-icon{
		width: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-bars{
		font-size: 28px;
	}
	&-phone{
		font-size: 28px;
		color: #000;
	}
	&-menu{
		i{
			font-size: 18px;
			position: absolute;
			right: 10px;
			top: 10px;
			transition: all 200ms ease;
			color: #fea411;
		}
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: #fff;
		flex-wrap: wrap;
		// display: none;
		justify-content: center;
		// align-items: center;
		z-index: 10;
		&__item{
			box-sizing: border-box;
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
			width: 100%;
			a{
				color: #333;
				transition: all 200ms ease;
			}
			a:hover{
				color: #fea411;
				transition: all 200ms ease;
			}
		}
	}
}
