// адаптация 1400 - 1366
@media screen and (max-width: 1399px){
	.wrapper{
		width: 1366px !important;
	}
	.video-block__item{
		width: 430px;
	}
	.block-8 .wrapper{
		width: 1200px !important;
	}
	.popup-galery-card .wrapper{
		width: 100% !important;
		overflow-y: scroll;
	}
	.popup-galery-card{
		overflow-y: scroll;
	}
	.block-15 .wrapper{
		justify-content: center;
	}
	// .header .main-nav{
	// 	width: 1366px;
	// }
}