@media screen and (max-width: 1365px){
	.wrapper{
		width: 1280px !important;
	}
	.block-1__item{
    width: 300px;
    height: 270px;
	}	
	.type__item{
		width: 300px;
	}
	.block-3__item{
		width: 300px;
	}
	.portfolio .portfolio__item{
		width: 300px;
		height: 400px;
	}
	.video-block__item{
		width: 405px;
	}
	// .header .main-nav{
	// 	width: 1280px;
	// }	
}