@media screen and (max-width: 959px){
	.wrapper{
		width: 768px !important;
	}
	.block-8 .wrapper{
		width: 768px !important;
	}	
	.block-1__item{
    width: 49%;
    height: 320px;
	}
	.type__item{
    width: 49%;
    height: 380px;
	}
	.block-3__item{
    width: 49%;
    height: 300px;
    margin-bottom: 10px;
	}
	.portfolio .portfolio__item-wrapper{
		flex-wrap: wrap;
	}
	.portfolio .portfolio__item {
    width: 49%;
    height: 380px;
	}
	.video-block__item{
		width: 33%;
	}
	.block-8__image-block{
		width: 49%;
	}
	.block-8__text-block{
		width: 49%;
	}
	.block-8__text-block p{
		font-size: 16px;
		line-height: 24px;
	}
	.price__item-wrapper{
    width: 500px;
    margin-bottom: 75px !important;
	}
	.price__item-wrapper:last-child{
		margin-bottom: 0 !important;
	}
	.price .wrapper{
		justify-content: center;
	}
	.block-10__left-content{
		display: none;
	}
	.block-10__content{
		justify-content: center;
	}
	.block-10__right-content{
		width: 100%;
	}
	.block-10__text{
		text-align: center;
	}
	.block-12__item-wrapper{
		justify-content: center;
	}
	.block-12__item{
		width: 400px;
		height: 280px;
		margin-bottom: 15px;
	}
	.block-14 .galery__item{
		width: 100%;
		max-width: unset;
		margin-bottom: 10px;
		height: 390px;
	}
	.galery__item-wrapper{
		flex-wrap: wrap;
	}
	.block-15__item-left{
		width: 49%;
	}
	.block-15__item-right{
		width: 49%;
	}
	.block-15__title{
		width: 100%;
	}
	.block-15__title h3{
		font-size: 12px;
	}
	.block-15__title i{
		right: 15px;
	}
	.block-15__content{
		width: 100%;
		top: -25px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer__left-content{
		display: none;
	}
	.footer__right-content{
		width: 100%;
	}
	.footer__right-content{
		justify-content: center;
	}
	.footer__right-item{
		text-align: center;
		font-size: 16px;
	}
	.footer__right-item span{
		text-align: center;
	}
	.footer__right-item--last{
		width: 50%;
	}
	.footer__right-content{
		margin-bottom: 0;
	}
	.popup-galery-card{
		width: 700px;
	}
	.popup-galery-card .galery-card__type-item{
		width: 75px;
		height: 75px;
	}
	.popup-galery-card p{
		font-size: 16px;
	}
	.popup-galery-card .btn{
		width: 150px;
	}
	.popup-galery-card h3{
		font-size: 24px;
	}
	.block-9__item{
		width: 33%;
	}
	.col-xl-6{
		width: 50% !important;
	}
	.col-xl-4{
		width: 33.33333%;
	}
	.col-xl-3{
		width: 25%;
	}		
	.main-nav{
		display: none !important;
	}
	.mobile-nav{
		display: flex !important;
	}	
	.price__item-wrapper{
		margin-bottom: 150px !important;
	}
}