@media screen and (max-width: 479px){
	.wrapper{
		width: 420px !important;
	}
	.block-8 .wrapper{
		width: 420px !important;
	}	
	.header .h1-title{
		font-size: 30px;
	}
	.block-1__item img{
		height: 200px;
	}
	.type__item{
		height: 280px;
	}
	.price .h2-title{
		font-size: 28px;
	}
	.calculator .counter{
		font-size: 20px;
	}
	.block-10 .text-for-title{
		text-align: center;
		padding-left: 0;
	}
	.footer__right-content{
		height: auto;
	}
	.footer__right-item{
		width: 100%;
	}
	.popup-galery-card{
		width: 420px;
	}
	.popup-galery-card .btn{
		width: 180px;
	}
	.popup-galery-card .galery-card__type-item{
		width: 85px;
		height: 85px;
	}
}