@media screen and (max-width: 419px){
	.wrapper{
		width: 370px !important;
	}
	.block-8 .wrapper{
		width: 370px !important;
	}	
	.header .h1-title{
		font-size: 24px;
	}
	.block-1__item{
		height: auto;
		// height: 240px;
	}
	.block-1__item img{
		height: 160px;
	}
	.type__item{
		height: 230px;
	}
	.type__item .btn{
		height: 30px;
	}
	.block-3__item{
		width: 100%;
	}
	.block-3__item-text-3{
		font-size: 24px;
	}
	.portfolio .portfolio__item{
		height: 240px;
	}
	.calculator .swiper-slide{
		height: 220px;
	}
	.calculator__image-wrapper{
		height: 100px;
		width: 100px;
	}
	.calculator-item{
    height: 200px;
    top: -150px;
	}
	.calculator__radio{
		bottom: -25px;
	}
	.calculator h3{
		font-size: 16px;
	}
	.calculator .counter{
		font-size: 18px;
	}
	.block-10 .h3-title{
		font-size: 30px;
	}
	.block-15__item-left, .block-15__item-right{
		padding: 0;
	}
	.popup-galery-card{
		width: 370px;
	}
	.popup-galery-card .btn{
		width: 150px;
	}
	.popup-galery-card .galery-card__type-item{
		width: 75px;
		height: 75px;
	}
	.portfolio .portfolio__item{
		height: 280px;
	}
	.block-11 .h2-title{
		font-size: 20px;
	}
	.portfolio h3{
		font-size: 18px;
	}
	.block-3__item{
		width: 49%;
	}
	.block-3__item strong{
		font-size: 24px;
	}
	.block-3__item-text-2{
		font-size: 20px;
	}
	.block-3__item-text-3{
		font-size: 16px;
	}
	.block-3__item{
		height: 180px;
	}
	.block-9 .h2-title{
		margin-top: 0;
	}
}